body {
    font-family: 'Roboto', sans-serif;
}

#text-score{
    justify-content: center;
    /* padding-bottom: 2rem; */
}

canvas{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    
}